# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
*.egg-info/
*.spec
dist/
build/

# Virtual env
venv/
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Outputs
salida/
*.png
salida_test/
salida*/

# Runtime folders (launcher / app)
app/
downloads/
logs/

# CSVs (ignore by default, allow examples)
*.csv
!examples/*.csv